/* fileupload.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: rgb(40, 184, 155);
  margin: 20px;
}

.title {
  color: rgb(224, 234, 232);
  font-family: "Arial", sans-serif;
  margin-bottom: 20px;
}

.fileInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: rgb(221, 229, 228);
}

.fileInput {
  border: 2px dashed #ccc;
  padding: 10px;
  width: 90%;
  margin-bottom: 10px;
  cursor: pointer;
  transition: border-color 0.3s;
}

.fileInput:hover {
  border-color: #888;
}

.uploadButton,
.analyzeButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  border-radius: 5px;
  margin: 5px;
  transition: background-color 0.3s;
}

.uploadButton:hover,
.analyzeButton:hover {
  background-color: #0056b3;
}

.fileDetails {
  width: 90%;
}

.fileDetails h3 {
  color: rgb(214, 234, 230);
  font-family: "Arial", sans-serif;
}
.filedetails {
  color: rgb(69, 185, 162);
}
ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li span {
  font-size: 20px;
  color: #999;
}

@media (max-width: 768px) {
  .container {
    width: 95%;
    box-sizing: border-box;
  }

  .fileInput,
  .uploadButton,
  .analyzeButton {
    width: 100%;
  }
}
