/* Graph.module.css */
.graphsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 2rem;
}

.chartContainer {
  text-align: center;
  width: 100%;
  max-width: 600px; /* Adjust width as necessary */
  margin: auto;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.pieChartContainer {
  width: 100%;
  max-width: 600px; /* Adjust width as necessary */
  margin: auto;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.chartCanvas {
  width: 100%;
  height: auto;
}

/* Responsive canvas size */
@media (max-width: 768px) {
  .chartCanvas {
    width: 100%;
    height: 250px; /* Adjust height for smaller devices */
  }
}

/* Loader styles */
.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

.error {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically (for when the container is larger than the content) */
  background-color: #ffdddd; /* Light red background to highlight the error */
  color: #d8000c; /* Darker red text color for contrast and visibility */
  border: 1px solid #d8000c; /* Border to emphasize the error box */
  padding: 20px; /* Increased padding for better spacing */
  margin: 20px 0; /* Spacing above and below the error message */
  border-radius: 5px; /* Rounded corners for a smoother look */
  width: auto;
  text-align: center;
  font-size: 16px; /* Adequate font size for readability */
}

.error img {
  margin-top: 10px; /* Space between the text and the image */
  width: 200px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed to maintain aspect ratio */
  object-fit: contain; /* Ensure the image is fully visible */
}

/* Animation for the loader */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
